<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/cache"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

    <context:property-placeholder location="classpath:person.properties"/>
    <!-- 包扫描 只要标注了@Controller/@Service/@Repository/@Component 都会被扫描直接加入容器中-->
    <context:component-scan base-package="com.singed"/>
    <bean id="person" class="com.singed.annotation.beans.Person" scope="prototype">
        <property name="name" value="zhangsan"/>
        <property name="age" value="18"/>
    </bean>

    <!--开启基于注解版的切面功能-->
    <aop:aspectj-autoproxy/>

    <!--开启基于注解的事务功能-->
    <tx:annotation-driven/>
</beans>